:root {
  --main-color: #d5bdaf;
  --second-color: #e3d5ca;
  --third-color: #f5ebe0;
  --fourth-color: #52796f;
  --fifth-color: #618640;
  --sixth-color: #b36a5e;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
    0px -1px 0px rgba(0, 0, 0, 0.5);
  --card-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  h1 {
    font-size: 10px;
  }

  body {
    text-align: center;
  }

  header p {
    font-size: 10px;
  }
}

body {
  background: var(--third-color);
  margin: 0 auto;
  color: black;
  cursor: url(http://i.imgur.com/ZOrzC.png), auto;
}

h1 {
  background: url(https://64.media.tumblr.com/1061954fcd7cb725dae4b956662e45f2/tumblr_inline_mqgbzfONSi1qz4rgp.gif)
    top center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 58px;
}

h2 {
  margin-left: -800px;
  margin: 0;
  padding: 0;
  background: url(https://64.media.tumblr.com/c787d11cccb09011d9015377525012d6/tumblr_noc8brfM6Z1qzcapfo1_500.jpg)
    top center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: bold 60px Arial;
  text-align: center;
  text-shadow: var(--text-shadow);
}

.custom-navbar {
  background-color: rgba(0, 0, 0, 0.9);
}

.custom-navbar a {
  color: var(--fifth-color);
  display: flex;
  justify-content: space-evenly;
}

.custom-navbar nav-link active {
  color: white;
}
#title {
  background: url(https://64.media.tumblr.com/1061954fcd7cb725dae4b956662e45f2/tumblr_inline_mqgbzfONSi1qz4rgp.gif)
    top center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 58px;
}
.header {
  background: url(https://64.media.tumblr.com/1061954fcd7cb725dae4b956662e45f2/tumblr_inline_mqgbzfONSi1qz4rgp.gif);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.header p {
  font-size: 50px;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: white;
}
.header p span.typed-text {
  font-weight: normal;
  color: var(--fifth-color);
}
.header p span.cursor {
  display: inline-block;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.header p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.hero {
  background: var(--third-color);
}

.navigation-links {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  box-shadow: var(--box-shadow);
}

.primary-link {
  text-decoration: none;
  background: var(--fifth-color);
  color: white;
}

.secondary-link {
  text-decoration: none;
  color: white;
  background: url(https://64.media.tumblr.com/1061954fcd7cb725dae4b956662e45f2/tumblr_inline_mqgbzfONSi1qz4rgp.gif);
  border: 2px solid black;
}

.main {
  text-align: center;
  height: fit-content;
  background: var(--main-color);
  color: #000;
}

.typewriter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  position: relative;
  margin: 0;
  top: 60px;
  transform: translateY(-50%);
  text-align: center;
  text-shadow: var(--text-shadow);
  padding: 10px;
}

.typewriter span {
  text-transform: uppercase;
  border-right: solid var(--second-color) 3px;
  background: url(https://64.media.tumblr.com/b46afd96066989e98e56514696e1dba5/tumblr_n596kfjdZp1tatxj0o1_500.jpg)
    top center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Skills and Education */
li {
  list-style: none;
  text-align: justify;
}

.card {
  margin-right: 25px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: var(--card-shadow);
}

/* Projects*/
.project-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}

.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url("https://i.pinimg.com/564x/ac/17/99/ac1799ee8a0162eba2e5208c850455f8.jpg");
  object-fit: scale-down;
  transform: scale(1.1, 1.1);
  box-shadow: var(--card-shadow);
}

.card--2 .card__img,
.card--2 .card__img--hover {
  background-image: url("https://i.pinimg.com/564x/8c/9e/27/8c9e27a234f0f279febe6bbde17b4d17.jpg");
  object-fit: scale-down;
  transform: scale(1.1, 1.1);
  box-shadow: var(--card-shadow);
}
.card--3 .card__img,
.card--3 .card__img--hover {
  background-image: url("https://i.pinimg.com/564x/6a/2d/92/6a2d926d826badb2f26c678bfd9f4b2b.jpg");
  object-fit: scale-down;
  transform: scale(1.1, 1.1);
  box-shadow: var(--card-shadow);
}

.card--4 .card__img,
.card--4 .card__img--hover {
  background-image: url("https://i.pinimg.com/564x/45/0e/49/450e494a05c7b1176e832f13ff626efd.jpg");
  object-fit: scale-down;
  transform: scale(1.1, 1.1);
  box-shadow: var(--card-shadow);
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card__info {
  z-index: 2;
  background-color: #fff;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
}

.card__button {
  text-decoration: none;
  color: white;
  background: url(https://64.media.tumblr.com/1061954fcd7cb725dae4b956662e45f2/tumblr_inline_mqgbzfONSi1qz4rgp.gif);
  border: 2px solid black;
  padding: 7px;
  border-radius: 10px;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

#email {
  text-decoration: none;
  color: var(--sixth-color);
}
