/* roots */
:root {
  --main-color: #d5bdaf;
  --second-color: #e3d5ca;
  --third-color: #f5ebe0;
  --fourth-color: #52796f;
  --fifth-color: #6a994e;
  --sixth-color: #b36a5e;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
    0px -1px 0px rgba(0, 0, 0, 0.5);
  --card-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}

/* Responsive */

/* Body for all pages */
body {
  cursor: url(http://i.imgur.com/ZOrzC.png), auto;
  font-family: "Montserrat", sans-serif;
  background-color: var(--third-color);
  color: #eee;
}

h1 {
  margin: 0;
  padding: 0;
  background: url(https://64.media.tumblr.com/1061954fcd7cb725dae4b956662e45f2/tumblr_inline_mqgbzfONSi1qz4rgp.gif)
    top center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: bold 70px Arial;
  text-align: center;
}
h2,
h5 {
  color: #000;
}

h3 {
  margin: 0;
  padding: 0;
  background: url(https://64.media.tumblr.com/c787d11cccb09011d9015377525012d6/tumblr_noc8brfM6Z1qzcapfo1_500.jpg)
    top center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: bold 100px Arial;
  text-align: center;
  text-shadow: var(--text-shadow);
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* Main Page header */
.container-header {
  background: url(https://64.media.tumblr.com/1061954fcd7cb725dae4b956662e45f2/tumblr_inline_mqgbzfONSi1qz4rgp.gif);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.container-header p {
  font-size: 50px;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container-header p span.typed-text {
  font-weight: normal;
  color: var(--fifth-color);
}
.container-header p span.cursor {
  display: inline-block;

  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container-header p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
/* Hero Section */
.hero {
  text-align: center;
  height: 400px;
  background: var(--third-color);
  color: #000;
}
/* Main Page links */
.navigation-links {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  box-shadow: var(--box-shadow);
}

.primary-link {
  text-decoration: none;
  background: var(--fifth-color);
  color: white;
}

.secondary-link {
  text-decoration: none;
  color: white;
  background: url(https://64.media.tumblr.com/1061954fcd7cb725dae4b956662e45f2/tumblr_inline_mqgbzfONSi1qz4rgp.gif);
  border: 2px solid black;
}

/* About me Page  */
.container-about {
  min-width: 500px;
  height: 500px;
  align-items: center;
  box-sizing: border-box;
  background: var(--main-color);
  padding: 50px;
  text-align: center;
}

.p-about {
  color: var(--fifth-color);
  display: flex;
  justify-content: center;
  font-size: px;
}

#p-skills {
  font-size: 30px;
}

#p-skills small {
  font-size: 12px;
}
/* Hero Section - Typewriter */
.typewriter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  position: relative;
  margin: 0;
  top: 60px;
  transform: translateY(-50%);
  text-align: center;
  text-shadow: var(--text-shadow);
  padding: 10px;
}

.typewriter span {
  text-transform: uppercase;
  border-right: solid var(--second-color) 3px;
  background: url(https://64.media.tumblr.com/b46afd96066989e98e56514696e1dba5/tumblr_n596kfjdZp1tatxj0o1_500.jpg)
    top center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 576px) {
  .typewriter {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .typewriter {
    font-size: 36px;
  }
}

/* About Me Page other elements */
#main-title {
  margin-left: -800px;
  margin: 0;
  padding: 0;
  background: url(https://64.media.tumblr.com/c787d11cccb09011d9015377525012d6/tumblr_noc8brfM6Z1qzcapfo1_500.jpg)
    top center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: bold 60px Arial;
  text-align: center;
  text-shadow: var(--text-shadow);
}

li {
  list-style: none;
  text-align: left;
}

#skills {
  max-width: 400px;
}
/* Navigation Styles */
/* Projects*/
.project-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}

.card {
  margin-right: 25px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: var(--card-shadow);
}

.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url("/portfolio-project/images/me.png");
  transform: scale(1.1, 1.1);
  box-shadow: var(--card-shadow);
}

.card--2 .card__img,
.card--2 .card__img--hover {
  background: white;
  transform: scale(1.1, 1.1);
  box-shadow: var(--card-shadow);
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card__info {
  z-index: 2;
  background-color: #fff;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
}

.card__button {
  font-weight: 600;
  text-decoration: none;
  color: #ad7d52;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}
